
html{
   scroll-behavior: smooth;
}

#cs{
   width: 100%;
   text-align: center;
   color: white;
   font-size: 20px;
}

h2{margin-bottom:15px;}

#click{color: yellow;}

main{
    width:98%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

body{
   background-image: url(../Imagens/gat.jpg);
   background-repeat:no-repeat;
   background-color: black;
 
}

article{
   display: block;
   padding:5px;
   font-size:10px;
   margin-bottom: 25px;
   cursor: pointer;
   transition:0.6s;
   background-color: rgba(5,7,12,0.7);
   border-radius: 7%;
   transition: 0.8s;
}

p{
   padding:10px;
   margin-bottom:5px;
   text-align: center;
   color: white;
}

#a1,#a2,#a3,#a4{
   width:60%;
}

#a1,#a3{
   float:left;
}

#a2,#a4{
   float:right;
}



#voltar{
   margin-left:40%;
   font-size:40px;
   color:white;
   text-decoration: none;
   float: bottom;
}



#voltar:hover{
   text-decoration:underline;
   color: white;
}


small{
   color:white;
   font-size: 25px;
   margin: 10px;
}








@media screen and (min-width:250px) and (max-width:499px){


   body{
      background-image: none;
      background-color: black;
   }
   
   
   #a1,#a2,#a3,#a4{
      width:60%;
   }
   
   article{
      font-size:10px;
      margin-bottom:35px;
   }
   

   #cs,#click{font-size:14px;}
}

#voltar{
   margin-left:38%;
   font-size:22px;
}



@media screen and (min-width:500px) and (max-width:765px){


#a1,#a2,#a3,#a4{
   width:60%;
}

article{
   font-size:10px;
   margin-bottom:30px;
}


#voltar{
   margin-left:43%;
   font-size:28px;
}

#cs,#click{font-size:14px;}

}




@media screen and (min-width:1400px){

   body{
      background-size: cover;
   }

   article{
      font-size:10px;
      margin-bottom:70px;
   }
   
   #voltar{
      margin-left:40%;
      font-size:30px;
   }


   #cs{font-size:30px;}


   #voltar{
      margin-left:43%;
      font-size:35px;
   }

}