@charset "Utf-8";

body {
    background-image: url(../Imagens/g.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color:gray;
    transition: 0.5s;
    height: 100%;
  }


  form {
    width: 310px;
    height:400px;
    margin-right: auto;
    margin-left: auto;
    margin-top:12%;
    background-color: white;
    font-size:18px;
    padding:10px;
    border-radius: 25px;
    background-color: rgba(225,225,225,0.7);
    background-image: url(../Imagens/gir.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition:0.5s;

  }

  article {
    width: 110px;
    padding: 5px;
    font-size:25px;
    margin-top: -330px;
    align-items: center;
    transition: 0.5s;
    float: right;
    border-radius: 25px;
    display:none;
   
  }

article input{
  border-radius: none;
  background-color:rgb(12, 232, 240);
  padding:5px;
  border-radius: 25px;
  border: none;
  margin:5px;
  font-size:15px;
  display: block;
}

input:focus-within{
    background-color: rgb(188, 226, 17);
    border: 2px solid black;
}

#tema{
  float:right;
  margin-top:-400px;
  margin-right:30px;
  background-color: rgba(225, 225, 225, 0.7);
  font-size: 18px;
  padding: 5px;
  border-radius: 50%;
  background-color: #d1d5de;
  box-shadow: 0px 0px 30px black;
  text-align: center;
  width:50px;
  cursor: pointer;
}

#cmt,#ct{
  margin-left:60px;
}

#bbt{
    width: 100%;
    margin-top:8px;
    height: 30px;
    color: white;
    background-color: rgb(49, 45, 45);
    border: none;
    border-radius: 10px;
}

#bbt:hover{
    background-color: rgb(8, 8, 8);
}


@media screen and (min-width:200px) and (max-width:300px) {

  form{
    font-size:12px;
    width:215px;
    height:315px;
    margin-top:55%;
  }

  #tema{display: none;}


  #cmt{
    margin-left:20px;
  }
  
  #ct{
    margin-left:60px;
  }

  
  input[type=file]{display: none;}


}

@media screen and (min-width:301px) and (max-width:524px) {
  small{display: none;} 
  
  
  #tema{display: none;}


  #cmt{
    margin-left:55px;
  }
  
  #ct{
    margin-left:60px;
  }


  form{
    font-size:18px;
    width:300px;
    height:350px;
    margin-top:30%;
  }

  input[type=file]{display: none;}

}



@media screen and (min-width:525px) and (max-width:599px) {
 
  #tema{
    margin-top:-280px;
    margin-right:20px;
  }
  
  article{
    margin-top:-210px;
    margin-right:-10px;
  }

  #tamandua,#orca,#polvo{
    display: none;
  }

  form{
    font-size:14px;
    width:280px;
    height:320px;
    margin-top:30%;
  }
#cmt{
  margin-left:25px;
}

#ct{
  margin-left:65px;
}

  input[type=file]{display: none;}
}

@media screen and (min-width:600px) and (max-width:765px) {

  #tamandua,#orca{
    display: none;
  }

#tema{
  margin-top:-350px;
}

article{
  margin-top:-280px;
}

  form{
    font-size:14px;
    width:290px;
    height:340px;
    margin-top:20%;
  }


  #cmt{
    margin-left:50px;
  }
  
  #ct{
    margin-left:70px;
  }

}

@media screen and (min-width:766px) and (max-width:995px) {


  #tema{
    margin-top:-380px;
  }
  
  article{
    margin-top:-300px;
  }

  form{
    margin-top:15%;
  }
}

@media screen and (min-width:1355px){
  body{
    background-size: cover;
  }

  form{
    font-size:20px;
    width:350px;
    height:380px;
    margin-top:8%;
  }


}