@charset "Utf-8";

body {
    background-image: url(../Imagens/g.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color:#3E4040;
    transition: 0.5s;
    height: 100%;
  }


  form {
    width: 310px;
    height:400px;
    margin-right: auto;
    margin-left: auto;
    margin-top:12%;
    background-color: white;
    font-size:18px;
    padding:10px;
    border-radius: 25px;
    background-color: rgba(225,225,225,0.7);
    background-image: url(../Imagens/gir.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition:0.5s;

  }

  article {
    width: 115px;
    padding:2px;
    font-size:16px;
    margin-top: -315px;
    align-items: center;
    transition: 0.5s;
    float: right;
    border-radius: 25px;
    display:none;
    background-color:rgba(225,225,225,0.75);
  }

#op{padding: 3px;}
  
  #tx{
    width:80px;
    margin-top:-50px;
    margin-left:10px;
  }

  #padrao{
    margin-top: 5px;
    color: white;
    background-color: black;
    border-radius: 15px;
    width:100%;
  }

  #padrao:hover{
    background-color: rgb(39, 38, 38);
  }

input:focus-within{
    background-color: rgb(188, 226, 17);
    border: 2px solid black;
}

#tema{
  float:right;
  margin-top:-400px;
  margin-right:30px;
  background-color: rgba(225, 225, 225, 0.7);
  font-size: 18px;
  padding: 5px;
  border-radius: 50%;
  background-color: #d1d5de;
  box-shadow: 0px 0px 30px black;
  text-align: center;
  width:50px;
  cursor: pointer;
}

#cmt,#ct{
  margin-left:60px;
}

#bbt{
    width: 100%;
    margin-top:8px;
    height: 30px;
    color: white;
    background-color: rgb(49, 45, 45);
    border: none;
    border-radius: 10px;
}

#bbt:hover{
    background-color: rgb(8, 8, 8);
}


@media screen and (min-width:250px) and (max-width:375px) {

  form{
    font-size:10px;
    width:235px;
    height:315px;
    margin-top:77%;
  }

  #tema{display: none;}


  #cmt{
    margin-left:20px;
  }
  
  #ct{
    margin-left:60px;
  }

  body{background-image: url(../Imagens/ggor.jpg);}

  form{background-image: url(../Imagens/gorf.jpg);color: white;}
  
  input[type=file]{display: none;}


}

@media screen and (min-width:376px) and (max-width:524px) {
  small{display: none;} 
  
  
  #tema{display: none;}


  #cmt{
    margin-left:55px;
  }
  
  
  #ct{
    margin-left:60px;
  }

  body{background-image: url(../Imagens/ggor.jpg);}

  form{background-image: url(../Imagens/gorf.jpg);color: white;}

  form{
    font-size:15px;
    width:300px;
    height:350px;
    margin-top:47%;
  }

  input[type=file]{display: none;}

}



@media screen and (min-width:525px) and (max-width:599px) {
 
 body{background-image: url(../Imagens/ggor.jpg);}

 form{background-image: url(../Imagens/gorf.jpg);color: white;}
  
  #tema{display: none;}
  
  form{
    font-size:14px;
    width:300px;
    height:320px;
    margin-top:38%;
  }
#cmt{
  margin-left:25px;
}

#ct{
  margin-left:65px;
}

  input[type=file]{display: none;}
}

@media screen and (min-width:600px) and (max-width:765px) {


#tema{display: none}

body{background-image: url(../Imagens/ggor.jpg);}

form{background-image: url(../Imagens/gorf.jpg);color: white;}

  form{
    font-size:14px;
    width:330px;
    height:340px;
    margin-top:25%;
  }


  #cmt{
    margin-left:50px;
  }
  
  #ct{
    margin-left:70px;
  }

}

@media screen and (min-width:766px) and (max-width:995px) {

 
  #tema{
    margin-top:-380px;
    font-size: 16px;
  }
  
  article{
    margin-top:-300px;
  }

  form{
    margin-top:15%;
  }
}

@media screen and (min-width:1355px){
  body{
    background-size: cover;
  }

  form{
    font-size:20px;
    width:350px;
    height:380px;
    margin-top:8%;
  }


}