@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}

html{
    scroll-behavior:smooth;
}

body{
    background-color: gray;
    background-image: url(../Imagens/maar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




main{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
    border: solid 3px black;
    padding: 3px;
    display: flex;
    background-color: rgb(143, 139, 139);
    border-radius: 25px;
}

article{
    margin-left:3.5px;
    padding: 3px;
}

#conteudo{
    width: 55%;
    height: 98%;
    color:white;
    font-size: 20px;
    
}


.flex{
    display: flex;
    margin: 5px;
    text-align: center;
}

span{
    color:black;
    font-size: 25px;
}

img{
  height:50%;
  width:40%;
  border-radius:50%;
  box-shadow: 0px 0px 10px black;
}


#p1{
    font-size:23px;
}

p{
    margin-left: 1%;
    margin: 5px;
    margin-bottom: 15px;
    text-align: center;
}

h3{
margin-top: 4px;margin-bottom: 4px;
font-size: 28px;
color: black;
text-align:center;
width: 100%;
}

strong{
    color: black;
    font-size: 20px;
}

#ol{
    padding: 5px;
    width: 95%;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;margin-bottom: 5px;
    
}
h4{
    text-align: center;
    font-size: 22px;
    margin: 5px;
    color: black;

}

h4 a{
    text-decoration:none;
    
}

h4 a:hover{
    text-decoration:underline;
}

#frame{
    text-align: center;
    width:43%;
    background-color:gray; 
    border-radius:2.5%;
}

#frame iframe{
   width: 100%;
   height: 100%;
   border-radius:2.5%;
}


#voltar{
    margin-left: 43%;
    font-size: 30px;
    color:white;
    text-decoration: none;
}



#voltar:hover{
    text-decoration:underline;
    color:yellow;
}


small{
    color:white;
    font-size: 25px;
    margin: 10px;
}


@media screen and (min-width:250px) and (max-width:400px) {

    #conteudo{font-size: 15px;}   

    #p1{font-size: 15px;}
    
    h4{font-size:18px};
    
    strong{font-size:15px;}
    
    h3{font-size:20px;}
  
    #ol{font-size:15px;}
  
    span{font-size:20px;}
  
  main{
      flex-direction: column;
     }
     
   article{
     margin-left: auto;
     margin-right: auto;
   }
  
    div{
     width:100%;
    }
  
  img{
     width:10%;
  }
  
    #conteudo{
     width:95%;
  }
   
  
  
  #frame{
   width:95%;
   height:500px;
  }
  
  #voltar{
     margin-left:33%;
     font-size: 23px;
  
  }

}


@media screen and (min-width:401px) and (max-width:765px) {
   
  #conteudo{font-size: 18px;}   

  #p1{font-size: 18px;}
  
  h4{font-size:20px};
  
  strong{font-size:18px;}
  
  h3{font-size:22px;}

  #ol{font-size:18px;}

  span{font-size:22px;}

main{
    flex-direction: column;
   }
   
 article{
   margin-left: auto;
   margin-right: auto;
 }

  div{
   width:100%;
  }

img{
   width:10%;
}

  #conteudo{
   width:95%;
}
 


#frame{
 width:95%;
 height:500px;
}

#voltar{
   margin-left:33%;
   font-size: 25px;

}

}



@media screen and (min-width:766px) and (max-width:1095px) {
    main{
     flex-direction: column;
    }
    
  article{
    margin-left: auto;
    margin-right: auto;
  }

   div{
    width:100%;
   }

img{
    width:25%;
}

   #conteudo{
    width:95%;
}
  


#frame{
  width:95%;
  height:500px;
}

#voltar{
    margin-left:40%;
    font-size: 25px;
}

body{
    background-image: url(../Imagens/mar2.jpg);
}

}


@media screen and (min-width:1400px){
    #conteudo{font-size: 22px;}   

    #p1{font-size: 27px;}
    
    h4{font-size:30px};
    
    strong{font-size:27px;}
    
    h3{font-size:30px;}
  
    #ol{font-size:30px;}
  
    span{font-size:30px;}

    p{font-size: 23px;}
  

    img{
        width:25%;
    }

    #voltar{
        font-size:38px;
    }

}